*{
    margin: 0;
    padding: 0;
    }
    /* .home{
      background-image: url(../../images/claw2.jpg);
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100%;
      
    } */
    